
# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
# ignore .idea except
.idea/*
# code style
!.idea/codeStyles/
# inspection profile
!.idea/inspectionProfiles/
# saveactions config
!.idea/saveactions_settings.xml
# recommended plugins
!.idea/externalDependencies.xml

# vscode
.vscode

# gradle
build
.gradle

# other
eclipse
run
logs

# Files from Forge MDK
forge*changelog.txt

# Files generated for Fabric
/fabric/src/generated/
